@page
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Models.Media
@using Models.Types
@using Web.Components
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @* <component type="typeof(BusinessMonths)" render-mode="ServerPrerendered"/> *@
</div>

<table class="table table-striped">
    @{ int ordinal = 0;}    
    <tr><th>#</th><th>Name</th><th>SKU</th><th>Barcode</th></tr>
    @foreach (Part part in Model.AllParts.OrderBy(part => part.Name))
    {
        <tr>
            <th>@(++ordinal)</th>
            <th>@part.Name</th>
            <th>@part.Sku.Value</th>
            <td><img src="data:@part.Sku.ToCode39(25).EncodeBase64().Content"/></td>
        </tr>
    }
</table>